@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Karla, Arial, Helvetica, sans-serif;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body #root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  background-color: #fffafa;
  justify-content: space-between
}