.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #A0AEC0;
    margin-bottom: 2rem;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #718096;
}

.separator:not(:empty)::before {
    margin-right: .5em;
}

.separator:not(:empty)::after {
    margin-left: .5em;
}